In [1]:
import pandas as pd

In [4]:
data = [{'high' : 1, 'low': 0, 'open': 0.2, 'close': 0.5, 'volume': 100}]

In [5]:
df = pd.DataFrame.from_dict(data, orient='columns', dtype=None)

In [6]:
df

   close  high  low  open  volume
0    0.5     1    0   0.2     100

In [7]:
df.high

0    1
Name: high, dtype: int64

In [8]:
df.high.values

array([1])

In [9]:
df.to_string()

'   close  high  low  open  volume\n0    0.5     1    0   0.2     100'

In [10]:
print(df.to_string())

   close  high  low  open  volume
0    0.5     1    0   0.2     100

In [1]:
from talipp.indicators import EMA, SMA, Stoch

In [11]:
def date_ranges(d1_str, d2_str, days=60):
    format_str = '%Y-%m-%d'  # The format
    d1_date = datetime.datetime.strptime(d1_str, format_str) if type(d1_str) == str else d1_str
    d2_date = datetime.datetime.strptime(d2_str, format_str) if type(d2_str) == str else d2_str

    if type(d1_date) == datetime.date:
        d1_date = datetime.datetime(
            year=d1_date.year,
            month=d1_date.month,
            day=d1_date.day,
        )
        d2_date = datetime.datetime(
            year=d2_date.year,
            month=d2_date.month,
            day=d2_date.day,
        )

    from datetime import timedelta
    diffdays = (d2_date - d1_date).days
    last_start = 0
    dlist = []
    first = True
    for r in range(0, diffdays + days, days):
        #print(r)
        next_date = min(r, diffdays)
        if first or next_date >= last_start:
            dlist.append(((d1_date + timedelta(days=last_start)).date(), (d1_date + timedelta(days=next_date)).date()))
        last_start = next_date + 1
        first = False
    return dlist

import datetime
date_ranges("2017-01-02", "2017-03-02", days=1)

[(datetime.date(2017, 1, 2), datetime.date(2017, 1, 2)),
 (datetime.date(2017, 1, 3), datetime.date(2017, 1, 3)),
 (datetime.date(2017, 1, 4), datetime.date(2017, 1, 4)),
 (datetime.date(2017, 1, 5), datetime.date(2017, 1, 5)),
 (datetime.date(2017, 1, 6), datetime.date(2017, 1, 6)),
 (datetime.date(2017, 1, 7), datetime.date(2017, 1, 7)),
 (datetime.date(2017, 1, 8), datetime.date(2017, 1, 8)),
 (datetime.date(2017, 1, 9), datetime.date(2017, 1, 9)),
 (datetime.date(2017, 1, 10), datetime.date(2017, 1, 10)),
 (datetime.date(2017, 1, 11), datetime.date(2017, 1, 11)),
 (datetime.date(2017, 1, 12), datetime.date(2017, 1, 12)),
 (datetime.date(2017, 1, 13), datetime.date(2017, 1, 13)),
 (datetime.date(2017, 1, 14), datetime.date(2017, 1, 14)),
 (datetime.date(2017, 1, 15), datetime.date(2017, 1, 15)),
 (datetime.date(2017, 1, 16), datetime.date(2017, 1, 16)),
 (datetime.date(2017, 1, 17), datetime.date(2017, 1, 17)),
 (datetime.date(2017, 1, 18), datetime.date(2017, 1, 18)),
 (datetime.date(2017, 1, 19), datetime.date(2017, 1, 19)),
 (datetime.date(2017, 1, 20), datetime.date(2017, 1, 20)),
 (datetime.date(2017, 1, 21), datetime.date(2017, 1, 21)),
 (datetime.date(2017, 1, 22), datetime.date(2017, 1, 22)),
 (datetime.date(2017, 1, 23), datetime.date(2017, 1, 23)),
 (datetime.date(2017, 1, 24), datetime.date(2017, 1, 24)),
 (datetime.date(2017, 1, 25), datetime.date(2017, 1, 25)),
 (datetime.date(2017, 1, 26), datetime.date(2017, 1, 26)),
 (datetime.date(2017, 1, 27), datetime.date(2017, 1, 27)),
 (datetime.date(2017, 1, 28), datetime.date(2017, 1, 28)),
 (datetime.date(2017, 1, 29), datetime.date(2017, 1, 29)),
 (datetime.date(2017, 1, 30), datetime.date(2017, 1, 30)),
 (datetime.date(2017, 1, 31), datetime.date(2017, 1, 31)),
 (datetime.date(2017, 2, 1), datetime.date(2017, 2, 1)),
 (datetime.date(2017, 2, 2), datetime.date(2017, 2, 2)),
 (datetime.date(2017, 2, 3), datetime.date(2017, 2, 3)),
 (datetime.date(2017, 2, 4), datetime.date(2017, 2, 4)),
 (datetime.date(2017, 2, 5), datetime.date(2017, 2, 5)),
 (datetime.date(2017, 2, 6), datetime.date(2017, 2, 6)),
 (datetime.date(2017, 2, 7), datetime.date(2017, 2, 7)),
 (datetime.date(2017, 2, 8), datetime.date(2017, 2, 8)),
 (datetime.date(2017, 2, 9), datetime.date(2017, 2, 9)),
 (datetime.date(2017, 2, 10), datetime.date(2017, 2, 10)),
 (datetime.date(2017, 2, 11), datetime.date(2017, 2, 11)),
 (datetime.date(2017, 2, 12), datetime.date(2017, 2, 12)),
 (datetime.date(2017, 2, 13), datetime.date(2017, 2, 13)),
 (datetime.date(2017, 2, 14), datetime.date(2017, 2, 14)),
 (datetime.date(2017, 2, 15), datetime.date(2017, 2, 15)),
 (datetime.date(2017, 2, 16), datetime.date(2017, 2, 16)),
 (datetime.date(2017, 2, 17), datetime.date(2017, 2, 17)),
 (datetime.date(2017, 2, 18), datetime.date(2017, 2, 18)),
 (datetime.date(2017, 2, 19), datetime.date(2017, 2, 19)),
 (datetime.date(2017, 2, 20), datetime.date(2017, 2, 20)),
 (datetime.date(2017, 2, 21), datetime.date(2017, 2, 21)),
 (datetime.date(2017, 2, 22), datetime.date(2017, 2, 22)),
 (datetime.date(2017, 2, 23), datetime.date(2017, 2, 23)),
 (datetime.date(2017, 2, 24), datetime.date(2017, 2, 24)),
 (datetime.date(2017, 2, 25), datetime.date(2017, 2, 25)),
 (datetime.date(2017, 2, 26), datetime.date(2017, 2, 26)),
 (datetime.date(2017, 2, 27), datetime.date(2017, 2, 27)),
 (datetime.date(2017, 2, 28), datetime.date(2017, 2, 28)),
 (datetime.date(2017, 3, 1), datetime.date(2017, 3, 1)),
 (datetime.date(2017, 3, 2), datetime.date(2017, 3, 2))]

[(datetime.date(2017, 1, 2), datetime.date(2017, 1, 2)),
 (datetime.date(2017, 1, 3), datetime.date(2017, 3, 2))]